<h3>Previous Bags</h3>

<table class="order-table">
<tbody>
    <thead><th>Order Date :</th>
        <% @orders.each do |order| %>
            <tr>
                <% if order.is_cart %>
                    <td> <i class="fa fa-shopping-bag" aria-hidden="true"> &nbsp;&nbsp; <%= link_to order.updated_at.to_formatted_s(:long), order_path(order) %></i></td>
                <% else %>
                    <td <i class="fa fa-shopping-bag" aria-hidden="true"> &nbsp;&nbsp; <%= link_to order.updated_at.to_formatted_s(:long), order_path(order) %></i></td>
                <% end %>
            </tr>
        <% end %>
</tbody>
</table>

<%= link_to products_path do %>
   <button type="button" class="cartbutton"> BACK TO SHOPPING </button> 
<% end %>
</body>




