<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>





<div class="about">

<h3>WHO NUXACTIVE IS AS A COMPANY?</h3>

NUXactive celebrates women. Women who exude confidence with effortless style. 
Women who are intelligent and socially refined. Women who inspire both younger and older generations. 
Women who are active - physically and mentally. This woman knows that she is enough - perhaps not always perfect, 
but confident that she is capable, knowledgeable and living her best life.
</br>
At NUXactive, we measure our success by the inspiration we are able to evoke. Every facet of NUXactive is 
infused with inspiration: From our made in the USA commitment to our dedicated team and most importantly our customers. 
Whether you are enjoying the supple touch of our micro fiber nylon, or the comfort of our proprietary natural fibers, there is an 
unmistakable common thread: inspiration! So if our beautiful apparel can inspire you to reach higher, exercise harder, or if our 
Nuxology puts a spring in your step, you have helped us succeed- thank you Inspiration is contagious;  Please share with us what 
inspires you for the possibility to be featured on our website or other social media.
</br>
Email us at: inspired@nuxactive.com
</br>
</div>

<div class="about">

<h3> WHAT NUXACTIVE OFFERS AS A PRODUCT? </h3>

NUXactive offers a choice of activewear for discerning, 
intelligent consumers. Its quality manufacture and stylish design is well-considered for both form and function. NUXactive 
offers more depth than being solely practical wear for hang ing out with the kids, to impress the other ‘yummy mummys’ at school 
pick up, to look good for the husband or even to impress friends. This is a product for YOU, to make you feel good, to make you 
feel energised, to help you perform in your time out from everything else.
 </br>
Purchasing and wearing NUXactive may not make you the best chef, mother, wife, employer or employee – but it will make you feel 
satisfied with your investment into a choice of fashionable activewear that performs when you work out, lasts when you wash it 
and makes YOU feel good.
Launched in Los Angeles, CA during the Spring of 2008, NUXactive’s manufacturing continues to stand on the 
highest qualities of quality and customer service.
</br>
</div>


<%= link_to "Link to follow social media" %>
    
</body>
</html>