


<div class="head"> 



 <button type="button" class="shop"> SHOP NOW </button>
</div> 

</br>

<div class="motto">

<h2 class="nuxology">NUXOLOGY</h2>
<p>
Be pro peace and anti nothing.</br>
Lead with my heart and follow with my mind.</br>
Dance through life with all of my imperfections.</br>
Honor humility and be humbled by honorable people.</br>
Compassion for the world starts with compassion for myself.</br>
......The universe is conspiring in my favor...</br>
</p>

</div> 

</br>

<div class="collage"> 

<%=image_tag("http://i.imgur.com/gO9CVhc.png?1")%>



</div>

</br>


<div class="subscribe">


<%= link_to "Follow Us On Instagram!", "https://www.instagram.com/nuxactive/?hl=en" %>

SUBSCRIBE ALSO GOES HERE

</div>



