
<div class="head"> 

<%= link_to products_path do %>
   <button type="button" class="shop"> SHOP NOW </button> 
<% end %>


</div> 

</br>

<div class="motto">

<h2 class="nuxology">NUXOLOGY</h2>
<p>
Be pro peace and anti nothing.</br>
Lead with my heart and follow with my mind.</br>
Dance through life with all of my imperfections.</br>
Honor humility and be humbled by honorable people.</br>
Compassion for the world starts with compassion for myself.</br>
......The universe is conspiring in my favor...</br>

</p>


<%= link_to page_path("about") do %>
   <button type="button" class="story"> READ OUR STORY. </button> 
<% end %>

</div> 

</br>

<div id="collage"> 


<img src="http://i.imgur.com/2RrGRop.jpg">
<img src="http://i.imgur.com/eeyF8sY.jpg">
<img src="http://i.imgur.com/hpnqnBG.jpg">

<img src="http://i.imgur.com/6jrlqoV.jpg?1">
<img src="http://i.imgur.com/iCBf89P.jpg?1">
<img src="http://i.imgur.com/32NbRHW.jpg">
<img src="http://i.imgur.com/1BJYBh0.jpg">
<img src="http://i.imgur.com/VpUYHma.jpg">
<img src="http://i.imgur.com/uHa8pJC.jpg">
<img src="http://i.imgur.com/tzM9s4r.jpg">
<img src="http://i.imgur.com/aJHOGTk.jpg">
<img src="http://i.imgur.com/U7QNXKw.jpg">
<img src="http://i.imgur.com/rJtcsdu.jpg?1">
<img src="http://i.imgur.com/Eu0Y8ML.jpg">
<img src="http://i.imgur.com/gn7DiCp.jpg">
<img src="http://i.imgur.com/umh0b5i.jpg">
<img src="http://i.imgur.com/3V5OFYI.jpg">
<img src="http://i.imgur.com/WG51WZT.jpg">
<img src="http://i.imgur.com/EmP6Sln.jpg">
<img src="http://i.imgur.com/2sNSRoZ.jpg">
<img src="http://i.imgur.com/YvXNQ0Y.jpg">
<img src="http://i.imgur.com/CGuIYOZ.jpg">
<img src="http://i.imgur.com/PBjaAw5.jpg">
<img src="http://i.imgur.com/cccUY65.jpg">

</div>

</br>


<div class="subscribe">

<div class="container">
	<form class="form-horizontal">

<p class="social">Subscribe To The Nux Active Newsletter!</p>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Your E-mail Address: </label>  
  &nbsp;
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="E-mail" class="form-control input-md" required="">
  &nbsp;

</div>

<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit!</button>
  </div>
</div>

</form>
</div>

</br>



<p class="social">
<%= link_to "Follow @nuxactive On Instagram!", "https://www.instagram.com/nuxactive/?hl=en" %>
</p>
</div>



