/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: black;
}

.about {
    width: 75%;
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
    background-color: #E0E0E0;
    text-align: center;
    font-size: 16px;
    
}


.products-table {
    text-align: center;
    position: center;
    font-family: 'Crimson Text', serif;
    border-spacing: 50px;
}

.categories {
    text-align: center;
    position: center;
    padding: 20px;
    font-family: 'Crimson Text', serif;
    
}

.cart {
    align-content: right;
    padding-right: 250px;
    padding-top: 50px;
    float: right;
    position: relative;
    z-index: 100;

}


.navbar-text {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.navbar-brand {
    bottom: 400px;
    margin-bottom: 0px;


}

.order-table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    border-spacing: 30px;
    font-family: 'Crimson Text', serif;

}

.order-table:hover {
    text-decoration: none;
}

th {
    color: gray;
    font-size: 12px;
    font-family: 'Crimson Text', serif;
}

.secondary {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 10px;
    width: 200px;
}

button.shop {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 20px;
    width: 200px;
    position: absolute;
    right: 40px;
    bottom: 80px;
}



button.story {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 20px;
    width: 200px;
  
}


div.head {
    width: 1000px;
    height: 380px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-image: url("http://i.imgur.com/0gXWDN3.png?1");
    position: relative;


}



div.motto {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    border: .5px solid #696969;
    text-align: center;
    font-size: 24px;
}

#collage {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-sizing: content-box;
    border: .5px solid #696969;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;  

}

#collage img {
  width: 100% !important;
  height: auto !important;
}


div.subscribe {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    padding-top: 40px;
    border: .5px solid #696969;
}


.nuxology {
    font-size: 40px;
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
}

a:visited {
    text-decoration: none; color:black;

}
a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

img:hover {
    opacity: .5;
} 


h3 {
    
    font-size: 24px;
    margin: 80px 169px;

}

.form-group {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    display: -webkit-inline-box;
    
}

.text-center{
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}

#singlebutton {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    

}

button:hover {
    background-color: white;
    color: black;
    border-style: solid;

}


p.social {
    font-size: 20px;
    text-align: center;
    
}

.cartbutton {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    width: 100px;

}

.checkout_button {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    width: 100px;
}


i:active {
    color: none;
}



.container {
    text-align: center;
}

.form {
    text-align: center;
}


div.congrats {
    text-align: center;
}

p#congrats {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;

}

#congrats-btn {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 10px;
    width: 200px;
}

#congrats-btn:hover {
    background-color: white;
    color: black;
    border-style: solid;

}

