/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    color: black;
}

.about {
    font-family: 'Crimson Text', serif;
    width: 75%;
    margin: 0 auto;
    background-color: #E0E0E0;
    text-align: center;
    font-size: 16px;
}


.products-table {
    font-family: 'Crimson Text', serif;
    text-align: center;
    position: center;
    border-spacing: 50px;
}

.categories {
    font-family: 'Crimson Text', serif;
    text-align: center;
    padding: 20px;
}

.cart {
    align-content: right;
    padding-right: 250px;
    padding-top: 50px;
    position: absolute;
    left: 1150px;
    z-index: 100;
}


.navbar-text {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    text-align: center;
}

.navbar-brand {
    bottom: 500px;
    margin-bottom: 0px;
    
}

.order-table {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    border-spacing: 30px;
}

.order-table:hover {
    text-decoration: none;
}

th {
    font-family: 'Crimson Text', serif;
    font-size: 12px;
    color: gray;
}

.secondary {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    width: 200px;
}

button.shop {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    position: absolute;
    right: 40px;
    bottom: 80px;
    border: none;
    padding: 20px;
    width: 200px;
}

button.story {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 20px;
    width: 200px;
}


div.head {
    background-image: url("http://i.imgur.com/0gXWDN3.png?1");
    height: 380px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
    width: 1000px;
}

div.motto {
    font-size: 24px;
    text-align: center;
    background-color: white;
    border: .5px solid #696969;
    margin: 0 auto;
    padding: 40px 0;
    width: 1000px;
}

#collage {
    height: 460px;
    width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    border: .5px solid #696969;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;  
}

#collage img {
  width: 100% !important;
  height: auto !important;
}


div.subscribe {
    height: 200px;
    border: .5px solid #696969;
    margin: 0 auto;
    padding-top: 40px;
    width: 1000px;
}


.nuxology {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    margin: 0 auto;
}

a:visited {
    text-decoration: none; color:black;

}
a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

img:hover {
    opacity: .5;
} 


h3 {
    font-size: 24px;
    margin: 80px, 169px;
}

.previous-bag {
    align-content: center;
}

.form-group {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    display: -webkit-inline-box;
}

.text-center{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

#singlebutton {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
}

button:hover {
    color: black;
    background-color: white;
    border-style: solid;

}

p.social {
    font-size: 20px;
    text-align: center;
    
}

.cartbutton {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    width: 100px;
}

.checkout_button {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    width: 100px;
}

.container {
    text-align: center;
}

div.congrats {
    text-align: center;
}

p#congrats {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: gray;

}


#congrats-btn {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    width: 200px;
}

#congrats-btn:hover {
    color: black;
    background-color: white;
    border-style: solid;

}

.form {
    font-family: 'Crimson Text', serif;
    text-align: center;
    
}

i:active {
    color: none;
}


.username {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
}

.password {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    position: relative;
    right: 10px;

}


.password-conf {
    font-family: 'Crimson Text', serif;
    border: none;
    padding-bottom: 10px;
    position: relative;
    right: 22px;

}


.add-username {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    position: relative;
    right: 19px;
}

.add-category {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    position: relative;
    right: 35px;
}

.upload-img {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    position: relative;
    right: 14px;

}

.add-price {
    font-family: 'Crimson Text', serif;
    border: none;
    padding: 5px;
    position: relative;
    right: 20px;
}
.add-description {
    font-family: 'Crimson Text', serif;
    border: none;
    padding-bottom: 10px;
    position: relative;
}

.shopping-button {
    font-family: 'Crimson Text', serif;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    width: 200px;
    position: relative;
    left: 610px;
    
}
