<h3>  </h3> 


<table class="categories" align="center">
    <td><%= link_to "All"%>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Bras" %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Leggings" %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Outerwear" %></td>
    
</table>



<p>
<table style="width:75%" class="products-table" align="center">

  <tr>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00 </td>
    <td> <img src="http://i.imgur.com/pxYDv41.png?1">  </br> Something Bra </br> $39.00</td>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td>
    
  </tr>
  <tr>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td> 
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td>
  </tr>
  <tr>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td>
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td> 
    <td> <img src="http://i.imgur.com/XbcjBbL.png?1">  </br> Something Bra </br> $39.00</td>
  </tr>
</table>



</p>













