
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table class="categories" align="center">
    <td><%= link_to "All"%>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Bras" %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Leggings" %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Outerwear" %></td>
    
</table>

    
</body>
</html>
